body {
  margin: 0;
  min-height: 100vh;
  font-family: monospace;
  display: grid;
  grid-template: 75px 1fr 50px / 250px 1fr;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

header {
  grid-area: header;
  background-color: rgba(59, 57, 57, 0.554);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 1rem;
}

header nav {
  display: flex;
  gap: 0.5rem;
  padding: 3rem;
}

nav a {
  color: black;
}

aside {
  grid-area: sidebar;
  background-color: black;
  display: flex;
  flex-direction: column;
}

aside h2 {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
}

aside h3 {
  color: white;
  margin: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1rem;
}

aside ul {
  color: white;
  margin: 0.7rem;
  font-size: 1rem;
}

aside a {
  color: white;
  margin-left: 0.5rem;
}

aside a:visited {
  color: white;
}

main {
  grid-area: main;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  padding: 20px;
  border: 3px solid black;
  width: 300px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card h3 {
  font-size: 1.25rem;
}

.card a {
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  width: 5rem;
  align-self: center;
  transition: 0.3s;
}

.card a:hover {
  background-color: white;
  color: black;
  border: 3px solid black;
}

.card img {
  width: 100%;
  height: 180px;
  display: block;
}

footer {
  grid-area: footer;
  background-color: rgba(59, 57, 57, 0.554);
  display: flex;
  justify-content: space-between;
}

footer h3 {
  margin-left: 1rem;
  margin-right: 1rem;
}
